In [7]:
import random
import pandas as pd
import time as timelibrary

In [56]:
def strTimeProp(start, prop):

    stime = timelibrary.mktime(timelibrary.strptime(start, '%d/%m/%Y %I:%M %p'))
    etime = timelibrary.mktime(timelibrary.strptime("31/3/2021 8:30 PM", '%d/%m/%Y %I:%M %p'))

    ptime = stime + prop * (etime - stime)

    return timelibrary.strftime('%d/%m/%Y %I:%M %p', timelibrary.localtime(ptime))


def randomDate(start, prop):
    return strTimeProp(start, prop).split(" ", 1)

In [157]:
# Gerando fAquisicaoLead
fAquisicaoLead = []
for index in range (500000):
    [date, time] = randomDate("1/1/2018 6:30 AM", random.random())
    fAquisicaoLead.append([
        index, 
        date, 
        time, 
        random.randrange(0,19,1), # Status do Lead 
        random.randrange(0,10,1), # Equipe
        random.randrange(0,28,1), # Estado
        random.randrange(0,5,1) # Canal
    ])

In [158]:
# Criando um DataFrame a partir do Array gerado
fAqLead = pd.DataFrame(fAquisicaoLead, columns=['idlead', 'dt_registro', 'hora_registro', 'idstatus', 'idequipe', 'idestado', 'idcanal'])

In [159]:
# Exportando o DataFrame para Excel
fAqLead.to_excel("./fAquisicaoLead.xlsx")

In [221]:
# Gerando fVenda
fVend = []
indexVenda = 0
somatorioVendasStatus = 0
for index, row in fAqLead.iterrows():
    [idlead, dt_registro, hora_registro, idstatus, idequipe, idestado, idcanal] = row
    if idstatus == 3 or idstatus == 4 or idstatus == 5:
        start = dt_registro + " " + hora_registro
        [date, time] = randomDate(start, random.random())
        valor_final = round(random.random()*1000,2)
        qtd_vidas = int(valor_final/100) + 1
        vendastatus = random.randrange(0,2,1)
        somatorioVendasStatus += vendastatus
        proporcaoStatusQtd = somatorioVendasStatus / (indexVenda+1)
        if proporcaoStatusQtd >= 0.498:
            fVend.append([
                indexVenda,
                idlead,
                valor_final,
                qtd_vidas,
                date, #data_venda
                idstatus,
                0, #venda_status
                idcanal,
                idestado,
                idequipe
            ])
        else:
            fVend.append([
                indexVenda,
                idlead,
                valor_final,
                qtd_vidas,
                date, #data_venda
                idstatus,
                vendastatus, #venda_status
                idcanal,
                idestado,
                idequipe
            ])
        indexVenda += 1

In [222]:
# Criando um DataFrame a partir do Array gerado
fVenda = pd.DataFrame(fVend, columns=['idvenda', 'idlead', 'valor_final', 'qtd_vidas', 'data_venda', 'idstatus', 'idvendastatus', 'idcanal', 'idestado', 'idequipe'])

In [223]:
# Exportando o DataFrame para Excel
fVenda.to_excel("./fVenda.xlsx")

In [224]:
fVenda.head()

,idvenda,idlead,valor_final,qtd_vidas,data_venda,idstatus,idvendastatus,idcanal,idestado,idequipe
0,0,0,274.45,3,20/06/2019,5,0,1,8,5
1,1,4,398.68,4,05/08/2020,5,0,4,10,8
2,2,10,412.68,5,12/02/2021,3,1,0,23,7
3,3,15,423.02,5,25/02/2021,3,0,4,26,7
4,4,19,835.03,9,12/09/2018,4,1,2,15,3